/*
Theme Name: Honey's Kettle
Text Domain: Honey's Kettle
Version: 1.0
Requires at least: 4.7
Requires PHP: 5.2.4
Description: Our default theme for 2020 is designed to take full advantage of the flexibility of the block editor. Organizations and businesses have the ability to create dynamic landing pages with endless layouts using the group and column blocks. The centered content column and fine-tuned typography also makes it perfect for traditional blogs. Complete editor styles give you a good idea of what your content will look like, even before you publish. You can give your site a personal touch by changing the background colors and the accent color in the Customizer. The colors of all elements on your site are automatically calculated based on the colors you pick, ensuring a high, accessible color contrast for your visitors.
Tags: blog, one-column, custom-background, custom-colors, custom-logo, custom-menu, editor-style, featured-images, footer-widgets, full-width-template, rtl-language-support, sticky-post, theme-options, threaded-comments, translation-ready, block-styles, wide-blocks, accessibility-ready
Author: Ken Kogi
Author URI: https://kogi.me/
Theme URI: https://honeyskettle.com/
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html

All files, unless otherwise stated, are released under the GNU General Public
License version 2.0 (http://www.gnu.org/licenses/gpl-2.0.html)

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned
with others.
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------

	0. 	CSS Reset
	1. 	Document Setup
	2. 	Element Base
	3. 	Helper Classes
	4. 	Site Header
	5. 	Menu Modal
	6. 	Search Modal
	7. 	Page Templates
		a. 	Template: Cover Template
		c. 	Template: Full Width
	8.  Post: Archive
	9.  Post: Single
	10. Blocks
	11. Entry Content
	12. Comments
	13. Site Pagination
	14. Error 404
	15. Widgets
	16. Site Footer
	17. Media Queries

----------------------------------------------------------------------------- */


/* -------------------------------------------------------------------------- */

/*	0. CSS Reset
/* -------------------------------------------------------------------------- */
body {
  font-family: futura-pt, sans-serif;
  font-size: 20px;
}

h1, h2, h3, h4 {
  font-weight: bold;
}

/* global styles */
a.order-online-button {
  background-color: #7ea08f;
  color: #FFF;
  padding: 7px 10px;
}

a.order-online-button:hover {
  opacity: .8;
  text-decoration: none;
}

img {
  width: 100%;
  max-width: 100%;
}


/* header styles */

#superHeader {
  background-color: #005479;
  text-align: center;
}

#superHeader .desktop-menu {
  display: block;
}

#superHeader .mobile-menu {
  display: none;
}

#superHeader #menu-order-online-button, #superHeader #menu-social-media, #superHeader #menu-main-menu {
  text-align: center;
  justify-content: center;
  height: 100px;
  margin-bottom: 0;
  padding: 0;
}

#superHeader #menu-order-online-button a {
  text-transform: lowercase;
  background-color: #f9f2e1;
  border-radius: 15px;
  color: #005479;
  padding: 0 15px;
}


#superHeader #menu-main-menu {
  justify-content: space-around;
}

#superHeader #menu-main-menu .menu-item a {
  padding: 0 5px;
}

#superHeader .menu-item-home {
  flex-basis: 25%;
}

#superHeader .menu-item-home a {
  display: block;
  width: 100%;
  height: 100px;
  text-indent: -9999px;
  background-image: url('/wp-content/themes/honeyskettle/images/logo-honeyskettle.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

#superHeader a {
  color: #FFF;
  font-family: futura-pt-condensed, sans-serif;
  text-transform: uppercase;
  font-size: 24px;
}

#superHeader #menu-social-media {

}

#superHeader #menu-social-media .menu-item {

}

#superHeader #menu-social-media-mobile {
  justify-content: center;
}

#superHeader #menu-social-media a, #superHeader #menu-social-media-mobile a {
  display: block;
  width: 30px;
  height: 30px;
  margin: 3px;
  text-indent: -9999px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

#superHeader #menu-social-media li.facebook-link a,
#superHeader #menu-social-media-mobile li.facebook-link a {
  background-image: url('/wp-content/themes/honeyskettle/images/facebook-icon.png');
}

#superHeader #menu-social-media li.twitter-link a,
#superHeader #menu-social-media-mobile li.twitter-link a {
  background-image: url('/wp-content/themes/honeyskettle/images/twitter-icon.png');
}

#superHeader #menu-social-media li.instagram-link a,
#superHeader #menu-social-media-mobile li.instagram-link a {
  background-image: url('/wp-content/themes/honeyskettle/images/instagram-icon.png');
}

#superHeader a:hover {
  text-decoration: none;
}

/* body styles */

#home-hero {
  height: 700px;
  background-color: #f9f2e1;
  margin-bottom: 20px;
}

.home-hero-content {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.slides {
  margin-bottom: 0;
}

.slide {
  height: 100%;
}

#home-hero .carousel-item {
  background-size: cover;
}


.home-app-promotion {
  text-align: center;
  font-size: 30px;
}


.home-app-promotion .col {

}

.home-app-promotion a {
  width: 100%;
}

.home-app-promotion p {
  margin-bottom: 0;
}

.home-app-promotion img {
  /*margin: 5px auto;*/
  height: 40px;
  margin: 0 5px;
}

.vendors {
  text-align: center;
  margin: 20px 0;
  padding: 0 15px;
}

.home-app-promotion img, .vendors img {
  width: auto;
}

.home-app-promotion a:hover, .vendors a:hover {
  text-decoration: none;

}

.three-home-links-row {
  /*margin: 0 -30px;*/
}

.three-home-links .col {
  height: 700px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
}

.three-home-links a {
  color: #FFF;
  text-transform: uppercase;
  background-size: cover;
  display: block;
  height: 100%;
  width: 100%;
  text-align: center;
  font-size: 64px;
  font-weight: bold;
  text-shadow: 2px 2px #005479;
  padding-top: 300px;
}

.three-home-links a:hover {
  text-decoration: none;
}

.three-home-links .three-home-link-locations {
  padding-left: 0;
}

.three-home-links .three-home-link-shop {
  padding-right: 0;
}



.three-home-links .three-home-link-locations a {
  background-image: url('/wp-content/themes/honeyskettle/images/three-home-link-locations.png');
}

.three-home-links .three-home-link-menu a {
  background-image: url('/wp-content/themes/honeyskettle/images/three-home-link-menu.png');
}

.three-home-links .three-home-link-shop a {
  background-image: url('/wp-content/themes/honeyskettle/images/three-home-link-shop.png');
}

.home-three-home-blocks {
  padding: 0 30px;
}

.home-three-blocks-block {
  margin: 15px 0;
}

.home-three-blocks-block-image {
  background-color: #c4dbe4;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.home-three-blocks-block-image > .row {
  display: none;
}

.home-three-blocks-block-desc {
  background-color: #c4dbe4;
  text-align: center;
  font-family: futura-pt, sans-serif;
}

.home-three-blocks-block-desc .home-three-blocks-block-desc-title {
  margin-top: 40px;
  font-size: 36px;
  font-weight: 600;
}

.home-three-blocks-block-desc .home-three-blocks-block-desc-summary {
  margin-top: 30px;
  font-size: 34px;
  text-align: justify;
}

.home-three-blocks-block-desc .home-three-blocks-block-desc-page-link a {
  font-size: 26px;
  line-height: 30px;
  margin: 20px auto;
  color: #000;
  padding: 7px 30px;
  height: 44px;
  border: 1px solid #000;
  border-radius: 22px;
  display: inline-block;
}

.home-three-blocks-block-desc .home-three-blocks-block-desc-page-link a:hover {
  text-decoration: none;
}

.home-three-blocks-block:nth-child(even) .home-three-blocks-block-row .home-three-blocks-block-image {
  order: 2;
}

.home-three-blocks-block:nth-child(even) .home-three-blocks-block-row .home-three-blocks-block-desc {
  order: 1;
}

.home-three-blocks-block .home-three-blocks-block-row .home-three-blocks-block-image img {
  height: 100%;
}

.dish-menu-hero {
  height: 400px;
  background-image: url('/wp-content/themes/honeyskettle/images/menu-page-hero.png');
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: cover;
}

.dish-menu-hero h1 {
  color: #005479;
  line-height: 360px;
  font-size: 100px;
  text-transform: uppercase;
  text-align: center;
}

.dish-menu .accordion-button-row button {
  outline: none;
  color: #fc6c0f;
  font-size: 30px;
  text-transform: capitalize;
}

.dish-menu .accordion-button-row button:active, .dish-menu .accordion-button-row button:focus {
  outline: none;
  box-shadow: none;
  text-decoration: none;
}

.dish-menu .nav-link {
  background-color: #f3e098;
  color: #005479;
  font-size: 30px;
}

.dish-menu-dine-in-item {
  /*flex: 0 0 50%;*/
  margin-bottom: 30px;
}

.dish-menu-dine-in-item .dish-menu-dine-in-item-image img {
  border-radius: 50%;
}

.dish-menu .accordion h3 {
  font-size: 20px;
}

.dish-menu .accordion p {
  font-size: 14px;
}

.locations-wrapper .culver-location {
  margin-top: 30px;
}

.locations-wrapper .culver-location .culver-location-description {
  flex-basis: 30%;
}

.locations-wrapper .culver-location .culver-location-description h1 {
  font-size: 30px;
}


.locations-wrapper .culver-location .culver-location-image {
  flex-basis: 70%;
}

.locations-wrapper .lil-honey-call-out {
  background-color: #84dff4;
  color: #FFF;
  box-shadow: 0 5px 5px 0 #000;
  margin: 30px 0;
  padding: 10px 0;
}

.locations-wrapper .lil-honey-call-out img {
  max-width: 250px;
  margin: 0 auto;
  display: block;
}

.locations-wrapper .lil-honey-call-out img.download-honeys-kettle-app {
  display: inline-block;
}

.locations-wrapper .lil-honey-call-out-description {
  text-align: center;
}

.locations-wrapper .drop-locations {
  background-color: #fbf6e0;
  text-align: center;
  padding: 30px 0;
}

.locations-wrapper .drop-locations img {
  border: #005479 solid 3px;
  transition: .25s filter linear;
  -webkit-transition: .25s -webkit-filter linear;
  -moz-transition: .25s -moz-filter linear;
  -ms-transition: .25s -ms-filter linear;
  -o-transition: .25s -o-filter linear;
}

.locations-wrapper .drop-locations h3 {
  margin-top: 30px;
}

.locations-wrapper .drop-locations .blur img {
  filter: grayscale(100%);
}

.our-story-hero h1 {
  text-indent: -99999px;
  height: 480px;
  background-image: url('/wp-content/themes/honeyskettle/images/our-story-hero.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  margin: 0;
}

.about-page-content .our-story {
  background-color: #ffd7b2;
  padding: 40px 0;
}

.about-page-content .our-chicken {
  text-align: center;
  padding: 40px 0;
}

.press-hero h1 {
  line-height: 360px;
  font-size: 100px;
  text-transform: uppercase;
  color: #005479;
  text-align: center;
  background-image: url('/wp-content/themes/honeyskettle/images/press-hero.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  margin: 0;
}


.press-releases {
  padding-top: 20px;
  padding-bottom: 20px;
}

.press-releases .press-item {
  padding: 20px 0 10px;
  border-bottom: #005479;
}

.press-releases .press-item:nth-child(even) {
  background-color: #fbf6e0;
}

.press-link {
  text-align: right;
}

.press-link a {
  color: #FFF;
  display: inline-block;
  background-color: #005479;
  padding: 3px 10px;
  border-radius: 5px;
}

.press-link a:hover {
  /*text-decoration: none;*/
  color: #fbf6e0;
}

/* footer styles */
#superFooter {
  background-color: #fc6c0f;
  color: #FFF;
  text-align: center;
  padding: 30px 0;
}

#superFooter a {
  color: #FFF;
  text-decoration: none;
  text-transform: uppercase;
  font-family: futura-pt-condensed, sans-serif;
  font-size: 24px;
}

#superFooter .footer-social-media-ctas {
  max-width: 300px;
  margin: 0 auto;
}

#superFooter a:hover {
  text-decoration: none;
}

#superFooter .footer-mail-signup {
  margin-bottom: 10px;
}

#superFooter input {
  background-color: #FFF;
  border: none;
  padding: 0 7px;
  height: 30px;
  margin: 0 7px;
}


#superFooter button {
  background-color: #FFF;
  color: #fc6c0f;
  border: none;
  height: 30px;
  padding: 0 7px;
}

#superFooter #footer-social-media-menu {
  align-items: center;
  justify-content: space-between;
}

#superFooter #footer-social-media-menu .menu-item {

}

#superFooter #footer-social-media-menu .menu-item a {
  display: block;
  width: 30px;
  height: 30px;
  margin: 3px;
  text-indent: -9999px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

#superFooter #footer-social-media-menu .menu-item.instagram-link a {
  background-image: url('/wp-content/themes/honeyskettle/images/instagram-icon.png');
}

#superFooter #footer-social-media-menu .menu-item.facebook-link a {
  background-image: url('/wp-content/themes/honeyskettle/images/facebook-icon.png');
}

#superFooter #footer-social-media-menu .menu-item.twitter-link a {
  background-image: url('/wp-content/themes/honeyskettle/images/twitter-icon.png');
}

@media only screen and (max-width: 991px) {

  #superHeader .desktop-menu {
    display: none;
  }

  #superHeader .mobile-menu {
    display: block;
    height: 90px;
  }

  .mobile-menu-trigger-wrapper {
    width: 75px;
    height: 90px;
    position: absolute;

  }

  .mobile-menu-trigger-wrapper button {
    text-indent: -9999px;

    border: none;
    width: 30px;
    height: 30px;
    border-radius: 3px;
    margin-top: 20px;
    background-color: transparent;
    background-image: url("/wp-content/themes/honeyskettle/images/mobile-menu-trigger.png");
    background-position: center;
    background-repeat: no-repeat;
  }

  .mobile-logo-wrapper {
    max-height: 90px;
  }

  .mobile-logo-wrapper img {
    max-height: 90px;
    width: auto;

  }

  #superHeader .mobile-menu-items {
    position: fixed;
    background-color: #005479;
    z-index: 100;
    width: 100%;
    height: calc(100% - 75px);
    top: 90px;
    bottom: 0;
    left: -100%;
    transition: left ease-in-out .25s;
  }

  #superHeader .mobile-menu-items.open {
    left: 0;
  }

  #superHeader #menu-mobile-menu {
    flex-direction: column;
  }

  #home-hero {
    height: 500px;
  }

  .three-home-links .col {
    height: 400px;
  }

  .three-home-links a {
    font-size: 44px;
    padding-top: 160px;
  }

  .home-three-home-blocks {
    padding: 0 10px;
  }

  .home-three-blocks-block {
    margin: 5px 0;
  }

  .home-three-blocks-block-desc .home-three-blocks-block-desc-title {
    margin-top: 20px;
    font-size: 20px;
  }

  .home-three-blocks-block-desc .home-three-blocks-block-desc-summary {
    margin-top: 20px;
    font-size: 20px;
  }

  .home-three-blocks-block-desc .home-three-blocks-block-desc-page-link a {
    font-size: 20px;
    line-height: 20px;
    margin-top: 10px;
    padding: 7px 15px;
    border-radius: 10px;
  }


  .locations-wrapper .culver-location .culver-location-description {
    flex-basis: 100%;
  }

  .locations-wrapper .culver-location .culver-location-image {
    flex-basis: 100%;
  }

  .dish-menu-hero {
    height: 300px;
  }

  .our-story-hero h1 {
    height: 250px;
  }

}

@media only screen and (max-width: 767px) {
  #home-hero {
    height: 300px;
  }


  .three-home-links .col {
    height: 150px;
    flex: 0 0 100%;
    border-bottom: 1px #000 solid;
  }

  .three-home-links a {
    font-size: 34px;
    padding-top: 50px;
    background-position: center;
  }

  .three-home-link {
    padding: 0;
  }

  .home-three-home-blocks {
    padding: 0;
    margin-top: 10px;
  }

  .home-three-blocks-block {
    margin: 0;
  }

  .home-three-blocks-block-desc {
    padding-bottom: 10px;
  }


  .home-three-blocks-block-image > .row {
    display: flex;
  }

  .home-three-blocks-block-desc .home-three-blocks-block-desc-title {
    margin-top: 20px;
    font-size: 20px;
  }

  .home-three-blocks-block-desc .home-three-blocks-block-desc-summary {
    margin-top: 20px;
    font-size: 20px;
  }

  .home-three-blocks-block-desc .home-three-blocks-block-desc-page-link a {
    font-size: 20px;
    line-height: 20px;
    margin-top: 10px;
    padding: 7px 15px;
    border-radius: 10px;
  }

  .home-three-blocks-block:nth-child(even) .home-three-blocks-block-row .home-three-blocks-block-image {
    order: unset;
  }

  .home-three-blocks-block:nth-child(even) .home-three-blocks-block-row .home-three-blocks-block-desc {
    order: unset;
  }

  .locations-wrapper .culver-location .culver-location-description {
    flex: 0 0 100%;
    order: 2;
  }

  .locations-wrapper .culver-location .culver-location-image {
    flex: 0 0 100%;
    order: 1;
  }

  .locations-wrapper .lil-honey-call-out .lil-honey-call-out-image {
    flex: 0 0 100%;
  }

  .locations-wrapper .lil-honey-call-out .lil-honey-call-out-description {

  }

  .locations-wrapper .drop-locations .col {
    flex: 0 0 100%;
  }


  .dish-menu-hero {
    height: 200px;
  }

  .dish-menu-hero h1 {
    line-height: 200px;
    font-size: 75px;
  }

  #footer-menu {
    flex-direction: column;
  }

}
